@font-face {
    font-family: "AnticSlab";
    src: url("fonts/AnticSlab-Regular.otf") format("Opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans_bold";
    src: url("fonts/OpenSans-Bold.ttf") format("Opentype");
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Regular.ttf") format("Opentype");
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width: 768px) {
    body {
        font-family: "OpenSans";
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    #imagen_acme {
        padding-top: 15%;
        width: 35%;
    }

    #contenedor_login {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }

    .formulario_login {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    input, select {
        padding: 20px;
        border-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        font-size: 1em;
    }

    #recordar_datos {
        display: flex;
        flex-direction: row;
    }

    .buttons {
        font-family: "OpenSans_bold";
        color: rgb(255, 255, 255);
        background-color: rgb(0, 162, 249);
        padding: 3%;
        border-radius: 5px;
        border: none;
        margin-bottom: 10%;
    }

    a {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    .fondo_colorido {
        background: linear-gradient(to right, #f62eb6, #418ee0);
    }

    .imagen_cabecera {
        width: 20%;
    }

    .cabecera {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .marca {
        display: flex;
        flex-direction: column;
    }

    .titulo {
        font-family: "AnticSlab";
        font-size: 2em;
        color: white;
    }

    .dicho {
        color: white;
        font-size: 0.7em;
    }

    .contenedor_universal {
    flex: 1;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 20px;
    width: 90%;
    margin: auto; 
    }

    span {
        font-size: 1.5em;
    }

    .contenedor_universal hr {
        width: 100%;
        border: none;
        border-top: 1px solid #ccc;
        margin: 10px 0;
    }
}

.contenedor_cabecera {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#home_span {
    font-size: 20px;
}

#link_cerrar_sesion {
    font-size: 17px
}

#home_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.opciones_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
